<section class="main__most-popular most-popular">
    <h2 class="most-popular__heading">Частіше за все купують</h2>
    <section class="most-popular__products-container">
        {{#each firstProducts}}
        <section class="most-popular__product-card product-card">
            <p class="product-card__name">{{this.name}}</p>
            <img src="../img/products/{{this.category}}/{{this.image_name}}" alt="" class="product-card__img">
            <p class="product-card__price">{{this.price}} грн</p>
            <a class="product-card__link" href="/product/{{this.id}}">Більше про товар</a>
        </section>
        <hr class="most-popular__line">
        {{/each}}
    </section>
</section>