<section class="main__product-block product-block">
    <img src="../img/products/{{productInfo.category}}/{{productInfo.image_name}}" alt="" class="product-block__img">
    <div class="product-block__main-block">
        <h2 class="product-block__name">{{productInfo.name}}</h2>
        <p class="product-block__description">{{productInfo.description}}</p>
        <p class="product-block__price">{{productInfo.price}} грн</p>
        <div class="product-block__buy-block buy-block">
            <div class="buy-block__quantity-block">
                <label for="quantity" class="buy-block__label">Кількість</label>
                <input type="number" value="1" min="1" id="quantity" class="buy-block__input">
            </div>
            <button class="buy-block__btn">Придбати</button>
        </div>
    </div>
</section>